# ── Bot Core ──────────────────────────
BOT_TOKEN=your_telegram_bot_token_here
BOT_NAME=NATSUTECH BOT
DEV_NAME=NatsuTech's 🇨🇬
PREFIX=/

# ── Owner ─────────────────────────────
OWNER_ID=your_telegram_user_id

# ── Config ────────────────────────────
TIMEZONE=Africa/Brazzaville
NODE_ENV=production